<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <h1 class="header"><a href="<%= root_url %>">Music App</a></h1>
      
      <% if logged_in? %>
        <p class="logged_in">Current User is: <%= current_user.email %></p> 
        <p class="home"><a href="<%= root_url %>">Home</a></p>
        <br><br>

        <form class="sign-out" action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" 
              name="authenticity_token" 
                  value="<%= form_authenticity_token %>">
          <input type="submit" value="Sign Out">
        </form>
        
      <% end %>
      
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
      

      <%= yield %>
    
  </body>
</html>
